body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #333;
    line-height: 2em;
}

div {
    display: block;
}
h1, p {
    color: white;
}

.container {
    width: 80%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 60px 15px;
}

.container_top {
    background-color: #F96699;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 470px;
    /* margin: 60px 20px 20px 20px; */
    /* padding: 110px 60px; */
    border-radius: 15px;
    margin-bottom: 45px;
    
}

.container_top_texticon {
    text-align: center;
    color: white;
    font-size: 18px;
}
.fa-heart:before {
    font-size: 55px;
}

.container_bottom {
    background-color: #38CCCC;
    display: flex;
    height: 370px;
    padding: 50px;
    border-radius: 15px;
}
.fa-users {
    font-size: 40px;
    width: 100px;
    padding: 20px;
}
.container_bottom_texticon {
    color: white;
    font-size: 20px;
    /* text-align: left;
    margin-left: 5px; */
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 130px;
    
}
.container_bottom_text {   
    padding: 10px;
}
.text1 {
    margin-bottom: 20px;
    font-size: 19px;
}
.text2 {
    font-size: 19px;
}
a {
    color: #9F6;
    text-decoration: none;
}